/* CZAP NUCLEUS CUSTOM STYLES */
/**** LAYOUT ****/

	/* GLOBAL */
	
	.l_group:after {
		content: "";
		display: table;
		clear: both;
	}
	
	.no-js {
	  @media only screen and (max-width: $medium-breakpoint) {
	    .top-bar {
	      display: none;
	    }
	  }
	
	  @media only screen and (min-width: $large-breakpoint) {
	    .title-bar {
	      display: none;
	    }
	  }
	}
	
	.padded {
		@include padded;
	}
	
	.collapse {
		.column, .columns {
			@include collapse;
		}
	}
	
	.fullBlock {
		@include collapse;
	}
	
	.fullBlock-medium {
		@media only screen and (min-width: $small-breakpoint) {
			@include collapse;
		}
	}
	
	.fullBlock-large {
		@media only screen and (min-width: $medium-breakpoint) {
			@include collapse;
		}
	}
	
	.fullBlock-xlarge {
		@media only screen and (min-width: $large-breakpoint) {
			@include collapse;
		}
	}
	
	.fullBlock-small {
		@media only screen and (max-width: $small-breakpoint) {
			@include collapse;
		}
	}
	
	.fullBlock-medium-only {
		@media only screen and (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
			@include collapse;
		}
	}
	
	.fullBlock-large-only {
		@media only screen and (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
			@include collapse;
		}
	}
	
	
	/* === SITE LAYOUT === */
	
		/* -- HEADER -- */
		
		#universeNav {
			display: none;
			@media only screen and (min-width: $small-breakpoint) {
				display: block;
				/*background: $colorBase_Z;*/
			}
		}
		
		#siteHeader {
			/*background: $colorAlt_B;*/
			margin-bottom: 0;
			@media only screen and (min-width: $small-breakpoint) {
				margin: 0 0 3em;
				background: none;
			}
		}
		
		#homeLogo {
			display: block;
			/*color: $colorSpecial_C;*/
			@media only screen and (min-width: $small-breakpoint) {
				float: left;
				/*color: $colorAlt_A;
				&:hover, &:focus {
					color: $colorSpecial_A;
				}*/
			}
		}
		
		#localMenu {
			@media only screen and (min-width: $small-breakpoint) {
				margin-top: 1em;
			}
			@media only screen and (min-width: $medium-breakpoint) {
				margin-top: 2.125em;
			}
		}
		
		/* -- BODY -- */
	
	
		
		/* -- FOOTER -- */
		
		#siteFooter {
			/*background: $colorBase_B;*/
			margin: 3em 0 0;
			padding: { 
				top: 2em;
			}
			@media only screen and (min-width: $small-breakpoint) {
				h3 {
					font-size: 1.5rem;
				}
			}
		}