/* CZAP NUCLEUS CUSTOM STYLES */
/**** MODULES ****/

	/* GLOBAL */
	
	.module {
		padding: 0 2em;
		@media only screen and (min-width: $medium-breakpoint) {
			padding: 0 5%;
		}
		@media only screen and (min-width: $large-breakpoint) {
			padding: 0 8%;
		}
	}
	
	.moduleFlush {
		padding: 0;
	}
	
	.blockList {
		list-style: none;
		margin-left: 0;
	}
	
	.socialLinks {
		@extend .blockList;
	}
	
	.socialLinks-item {
		display: inline-block;
		@media only screen and (min-width: $small-breakpoint) {
			&:before {
				content: " / ";
			}
		}
		&:first-child {
			a {
				padding-left: 0;
			}
			&:before {
				content: none;
			}
		}
		a { 
			padding: 0 .5em; 
		}
	}
	
	/* --- PRODUCT PAGE --- */
	
	.splashFeature {
		&.column {
			@media only screen and (min-width: $small-breakpoint) {
				padding-right: 5%;
			}
		}
	}
	
	.splashStage {
		margin: 0 auto;
		display: block;
		@media only screen and (min-width: $medium-breakpoint) {
			padding: 0 10%;
		}
		@media only screen and (min-width: $large-breakpoint) {
			padding: 0 20%;
		}
	}
	
	.orbit-container {
		&.productStage {
			/*min-height: 65em;*/
		}
	}
	
	.thumbColumn {
		@extend .column;
		@extend .medium-3;
	}
	
	/* --- GALLERY PAGE --- */
	
	.galleryLinks {
		@extend .blockList;
	}
	
	.galleryItem {
		@extend .column;
		@extend .small-2;
	}