/* CZAP NUCLEUS CUSTOM STYLES */
/**** MODULES ****/

	/* GLOBAL */
	
	.module {
		padding: 0 2em;
		@media only screen and (min-width: $medium-breakpoint) {
			padding: 0 5%;
		}
		@media only screen and (min-width: $large-breakpoint) {
			padding: 0 8%;
		}
	}
	
	.button {
		width: 100%;
		@media only screen and (min-width: $medium-breakpoint) {
			width: auto;	
		}
	}
	
	.blockList {
		list-style: none;
		margin-left: 0;
	}
	
	.socialLinks {
		@extend .blockList;
	}
	
	.socialLinks-item {
		display: inline-block;
		.easySmall & {
			display: block;
			text-align: center;
			a {
				font-size: 1.5em;
				padding: .5em;
				width: auto;
				/*background: darken($colorBase_B, 20%);*/
			}
			@media only screen and (min-width: $small-breakpoint) {
				display: inline-block;
			}
		}
		@media only screen and (min-width: $small-breakpoint) {
			&:before {
				content: " / ";
			}
		}
		&:first-child {
			a {
				padding-left: 0;
			}
			&:before {
				content: none;
			}
		}
		a { 
			padding: 0 .5em; 
		}
	}
	
	.submitButton {
		display: block;
		width: 100%;
	}
	
	/* --- HEADER --- */
	
		.active {
			display: block !important;
		}
		
		.title-bar {
			/*background: $colorBase_Z;*/
			text-transform: uppercase;
			padding: {
				left: 3rem;
				right: 3rem;
			}
			.menu-icon {
				margin-left: 0;
			}
			@media only screen and (min-width: $small-breakpoint) {
				display: none;
			}
		}
		
		.megaMenu-block {
			display: none;
			cursor: default;
			z-index: 500;
			@include transition;
			/*background: lighten($colorBase_Z,5%);*/
			text-transform: uppercase;
			& > li {
				display: block;
				& > a {
					position: relative;
					display: block;
					z-index: 510;
					@include transition;
				}
				& > .megaMenu {
					display: none;
				}
				@media only screen and (min-width: $small-breakpoint) {
					float: left;
					& > .megaMenu {
					    opacity: 0;
					    visibility: hidden;
					    overflow: hidden;
					}
					&.active > .megaMenu {
						opacity: 1;
					    visibility: visible;
					    overflow: visible;
					}
				}
			}
			@media only screen and (min-width: $small-breakpoint) {
				display: inline-block;
				background: none;
			}
		}
		
		.mainNav {
			margin: 0;
		}
		
		.navBlock {
			letter-spacing: 2pt;
		}
		
		.subNav_header {
			padding: {
				top: .75em;
				bottom: .75em;
				left: 2.575rem;
				right: 1rem;
			}
			border: {
				bottom: 1px solid $colorSpecial_B;
			}
			&:hover {
				/*background: $colorAlt_C;
				color: $colorSpecial_C;*/
			}
			.navBlock.active & {
				font-weight: bold;
				/*background: darken($colorAlt_C,15%);*/
				border: {
					bottom: 1px solid $colorBase_Z;
				}
				&:hover, &:focus {
					/*background: darken($colorAlt_C,18%);*/
				}
			}
			@media only screen and (min-width: $small-breakpoint) {
				border-bottom: none;
			}
		}
		
		.megaMenu {
			margin-left: 0;
			width: 100%;
			display: block;
			@include transition;
			@media only screen and (min-width: $small-breakpoint) {
				position: absolute;
				margin-top: 1em;
				left: 0;
				background: rgba(255, 255, 255, 0.75);
				padding: 1.5em 10%;
			}
			.navBlock.active & {
				display: block;
			}
		}
		
		.megaMenu-column {	
			@extend .column;
			@extend .medium-3;
			& > a {
				display: block;
				border: {
					bottom: 1px solid $colorAlt_C;
				}
				padding: {
					top: .5em;
					bottom: .5em;
					left: 2.575rem;
					right: 1rem;
				}
				font-size: .875em;
				/*background: darken($colorAlt_C,10%);
				&:hover, &:focus {
					background: darken($colorAlt_C,6%);
				}*/
				@media only screen and (min-width: $small-breakpoint) {
					border: {
						bottom: 0;
					}
				}
			}	
		}
		
		/* --- BODY --- */
		
			.contentModule {
				max-width: $medium-breakpoint;
			}
		
			/* --- BREADCRUMBS --- */
			
			.breadcrumbs {
				display: none;
				@media only screen and (min-width: $small-breakpoint) {
					display: block;
				}
			}
			
			
			/* --- PRODUCT PAGE --- */
			
			.splashFeature {
				&.column {
					@media only screen and (min-width: $small-breakpoint) {
						padding-right: 5%;
					}
				}
			}
			
			.splashStage {
				margin: 0 auto;
				display: block;
				@media only screen and (min-width: $medium-breakpoint) {
					padding: 0 10%;
				}
				@media only screen and (min-width: $large-breakpoint) {
					padding: 0 20%;
				}
			}
			
			.orbit-container {
				&.productStage {
					/*min-height: 65em;*/
				}
			}
			
			.thumbColumn {
				@extend .column;
				@extend .medium-3;
			}
			
			/* --- GALLERY PAGE --- */
			
			.galleryLinks {
				@extend .blockList;
			}
			
			.galleryItem {
				@extend .column;
				@extend .small-2;
			}
	
	
	/* --- FOOTER --- */
	
		/* -- NEWSLETTER -- */
		
		#formNewsletter {
			border: {
				bottom: 1px solid darken($colorBase_B, 15%);
			}
			margin-bottom: 1em;
			@media only screen and (min-width: $small-breakpoint) {
				margin-bottom: 0;
				border: none;
			}
			label {
				font-style: italic;
			}
			input {
				margin: 0;
				height: 2rem;
			}
			#subForm {
				p {
					margin-bottom: .5rem;
				}
			}
		}
		
		.formFields {
			margin-bottom: 1rem;
		}
		
		.copyright {
			font-size: .75em;
			line-height: normal;
			font-style: italic;
			color: lighten($colorBase_Z, 20%);
		}
		
		